doctype html

html
  head
    meta(charset='UTF-8')
    title Redux Diffs (Inject)
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
  body
    #root
    if env !== 'prod'
      script(src='https://localhost:3000/js/inject.bundle.js')
    script(src=env == 'prod' ? '/js/diffapp.bundle.js' : 'https://localhost:3000/js/diffapp.bundle.js')
